.cycles {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  align-items: center;
  justify-content: center;
}

.cyclesDots {
  display: flex;
  gap: 0.8rem;
}

.cyclesDot {
  width: 2rem;
  height: 2rem;
  background-color: var(--short-break-time);
  border-radius: 50%;
}

.workTime {
  background: var(--foco-energy);
}

.shotBreakTime {
  background: var(--short-break-time);
}

.longBreakTime {
  background: var(--long-break-time);
}
